    <h4><span>CTOnline</span> Admin Links</h4>
    <ul class="links">
      <li class="first"><%= link_to "Terms", { :controller => "/ct/admin/term", :action => "list" } %></li>
      <li><%= link_to "Classes", { :controller => "/ct/admin/class", :action => "list" } %></li>
      <li><%= link_to "Sessions", { :controller => "/ct/admin/class_session", :action => "list" } %></li>
      <li><%= link_to "Instructors", { :controller => "/ct/admin/instructor", :action => "list" } %></li>
      <li><%= link_to "Settings", { :controller => "/ct/admin/setting", :action => "show" } %></li>
    </ul>
    