<%= @header %>

Dear <%= @participant %>:

A payment has been applied to your account. The payment for <%= number_to_currency(@total) %> has been applied to Order <%= @order %>

Please go to http://<%= $g_return_url %>/shopping_cart/account_history to view order details and print a receipt.

<%= @footer %>