<p>Dear <%= @participant.first_name %>:</p>

<p>We have receive a reset password request.</p>  

<p>Your user name is <%= @user.login %>.<br>
Your temporary password is <%= @user.reset_password %></p>

<p>Please go to <%= link_to "IMOnline Password Reset Page", "http://#{$g_return_url}/account/complete_reset_password" %> to complete the request.</p>

<p>Please note that the temporary password will NOT work as a regular login.  You must set a new password through the forgot password procedure.</p>