Dear <%= @participant.first_name %>:

We have receive a reset password request.  

Your user name is <%= @user.login %>.
Your temporary password is <%= @user.reset_password %>

Please go to http://<%= $g_return_url %>/account/complete_reset_password to complete the request.

Please note that the temporary password will NOT work as a regular login.  You must set a new password through the forgot password procedure.