<div id="primaryContent_2columns">
  <div id="columnA_2columns">
    <h3>Reset Password - Verification Needed</h3>
    <%= display_standard_flashes -%>
    <p>We have sent an email with a temporary password.  Once you receive the email, <%= link_to 'click here', :action => 'complete_reset_password' %> or visit the link given on that email to complete your request.</p>
  </div>
</div>
<div id="secondaryContent_2columns">
  <div id="columnC_2columns">
  </div>
</div>