Dear <%= @captain %>:

<%= @free_agent %> has accepted your invitation to join your team, <%= @team_name %>

Login to IMOnline at http://<%= @url %> to view your current roster.

Thanks for your continued support!