>Dear <%= @free_agent %>:

You have been extended an invitation to join a team as a free agent.

Please login to view your free agent invitations at http://<%= @url %>/.

Once logged in, click on My Free Agent Status to accept or decline this invitation.

Thanks for your support!