<p>Dear <%= @free_agent %>:</p>

<p>You have been extended an invitation to join a team as a free agent.</p>

<p>Please login to view your free agent invitations at <%= link_to "My Free Agent Status", "http://#{h @url}/im/client/free_agent/my_free_agent_status" %>.</p>

<p>Once logged in, you can accept or decline this invitation.</p>

<p>Thanks for your support!</p>